<div class="text-center">
  <h1>{{survey.title}}</h1>
  <h2 class="text-muted">{{survey.period}}</h2>
  <p>{{survey.comment}}</p>
  <br />
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div style="margin-bottom: 20px;" *ngFor="let subject of survey.subjects">
        <div class="card text-center">
          <div class="card-block">
            <h4 class="card-title">{{subject.name}}</h4>
            <div class="row card-text">
              <div class="alert alert-info col" *ngFor="let class of subject.classes">
                  <p class="font-weight-bold text-center">{{class.name}}</p>
                  <div *ngFor="let s of class.schedule">
                    <p>{{s.day}} {{s.time}}</p>
                  </div>
                    Profesores: {{class.teachers}}
              </div>
            </div>
            <div class="card-footer dropdown row justify-content-center">
              <div class="row justify-content-center">
                <div class="selectWrapper">
                  <select (change)="onChange($event.target.value, subject)" >
                    <option>Seleccionar opción</option>
                    <option *ngFor="let option of subject.options" >{{option}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row justify-content-center">
        <button type="button" class="btn-primary btn-lg" (ngSubmit)="submitSurvey()" [hidden]="!canSubmit">Submit</button>
        <div class="alert alert-danger" role="alert" [hidden]="canSubmit">
          <b class="text-justify">Aun quedan respuestas por completar.</b>
        </div>
      </div>

    </div>
  </div>
</div>
