<div class="container-fluid">
  <div class="row justify-content-center">

    <form class="col-6">
      <div class="form-group">
        <label><b>Período (nombre)</b></label>
        <input required type="text" class="form-control" [(ngModel)]="newSurvey.period"
          placeholder="Ingrese período (ej: 1er cuatrimestre 2018)" name="period">
      </div>
      <div class="form-group">
        <label><b>Comentario o propósito de la encuesta</b></label>
        <textarea [(ngModel)]="newSurvey.comment" class="form-control" rows="3" name="comment"
          placeholder="Ingrese un comentario para que los alumnos lo lean al completar la encuesta (opcional)">
        </textarea>
      </div>
      <hr/>
      <div>
        <div>
          <label><b>Materias</b></label>
          <button type="button" class="btn btn-sm btn-link float-right"
                  data-toggle="modal" data-target="#addSubjectModal">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </div>
        <div class="list-group">
          <li [hidden]="newSurvey.subjects?.length > 0" class="list-group-item list-group-item-danger"><b>No hay materias listadas para esta encuesta.</b></li>
          <div *ngFor="let s of newSurvey.subjects">
            <a href="#" class="list-group-item list-group-item-action">{{s.name}}</a>
          </div>

        </div>
        <div class="modal fade" id="addSubjectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nueva materia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row justify-content-center">
                  <form class="col-9">
                    <div class="form-group">
                      <label>Nombre</label>
                      <input type="text" name="newSubjectName" class="form-control" [(ngModel)]="newSubject.name" placeholder="Ingrese el nombre de la materia">
                    </div>
                    <div class="form-group">
                      <label>Comisiones</label>
                      <button (click)="newSurvey.showClassForm = true" type="button float-xs-right" class="btn btn-sm btn-link">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                      </button>
                    </div>
                    <div class="list-group">
                      <a href="#" [hidden]="newSubject.classes?.length > 0 || newSurvey.showClassForm"
                         class="list-group-item list-group-item-danger">
                         No hay comisiones creadas para esta materia.</a>
                         <div *ngFor="let class of newSubject.classes">
                           <a href="#" class="list-group-item list-group-item-action">{{class.name}}</a>
                         </div>
                    </div>

                    <form [hidden]="!newSurvey.showClassForm">
                      <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" name="newClassName" class="form-control"
                          placeholder="Ingrese el nombre de la comision"
                          [(ngModel)]="newClass.name">
                      </div>

                      <div class="form-group">
                        <div class="form-group">
                          <label>Profesores</label>
                          <input type="text" name="newClassTeachers" class="form-control"
                          placeholder="Ingrese el nombre de los profesores"
                          [(ngModel)]="newClass.teachers">
                        </div>
                        <label>Horarios</label>
                        <button type="button float-xs-right" class="btn btn-sm btn-link"
                          (click)="newClass.showScheduleForm = true">
                          <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                        <div class="list-group">
                          <a href="#" [hidden]="newClass.schedules?.length > 0 || newClass.showScheduleForm"
                             class="list-group-item list-group-item-danger">
                             No hay horarios especificados para esta comisión.</a>
                             <div *ngFor="let schedule of newClass.schedules">
                               <a href="#" class="list-group-item list-group-item-action">{{schedule}}</a>
                             </div>
                        </div>
                        <form [hidden]="!newClass.showScheduleForm">
                          <div class="form-group">
                            <label>Dia y horario</label>
                            <input type="text" name="schedule" class="form-control"
                              placeholder="Ej: Martes 20:00 a 22:00" [(ngModel)]="newSchedule">
                          </div>
                          <button type="submit" class="btn btn-sm btn-primary" (click)="addSchedule()">Guardar horario</button>
                        </form>
                      </div>
                      <button type="submit" class="btn btn-sm btn-primary" (click)="addClass()">Guardar comisión</button>
                    </form>
                  </form>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" (click)="addSubject()" class="btn btn-primary"
                  data-dismiss="modal" [hidden]="newSurvey.showClassForm">Guardar materia</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr />
        <button type="button" class="btn btn-primary offset-md-4" (click)="submitSurvey()"
          [disabled]="!isValid()">Crear encuesta</button>

    </form>

  </div>

</div>
