<div class="container-fluid">
  <div class="row justify-content-center">

    <form class="col-6">
      <div class="form-group">
        <label><b>Período (nombre)</b></label>
        <input required type="text" class="form-control" [(ngModel)]="newSurvey.period"
          placeholder="Ingrese período (ej: 1er cuatrimestre 2018)" name="period">
      </div>
      <div class="form-group">
        <label><b>Comentario o propósito de la encuesta</b></label>
        <textarea [(ngModel)]="newSurvey.comment" class="form-control" rows="3" name="comment"
          placeholder="Ingrese un comentario para que los alumnos lo lean al completar la encuesta (opcional)">
        </textarea>
      </div>
      <hr/>
      <div>
        <div>
          <label><b>Materias</b></label>
          <button #editSubjectBtn type="button" class="btn btn-sm btn-link float-right"
                  data-toggle="modal" data-target="#addSubjectModal">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </div>
        <div class="list-group">
          <li [hidden]="newSurvey.subjects?.length > 0" class="list-group-item list-group-item-danger"><b>No hay materias listadas para esta encuesta.</b></li>
          <div *ngFor="let s of newSurvey.subjects">
            <!-- <a href="#" class="list-group-item list-group-item-action">{{s.name}}</a> -->
            <li class="list-group-item justify-content-between">
              {{s.name}}
              <span>
                <i (click)="editSubject(s)"
                  class="btn btn-sm btn-link fa fa-pencil">
                  </i>
                <i (click)="removeSubject(s)"
                  class="btn btn-sm btn-link fa fa-trash-o">
                </i>
              </span>
            </li>
          </div>
        </div>
        <div class="modal fade" id="addSubjectModal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nueva materia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row justify-content-center">
                  <form class="col-9">
                    <div class="form-group">
                      <label><b>Nombre</b></label>
                      <input type="text" name="newSubjectName" class="form-control" [(ngModel)]="newSubject.name" placeholder="Ingrese el nombre de la materia">
                    </div>
                    <hr />
                    <div>
                      <label><b>Comisiones</b></label>
                      <button (click)="newSurvey.showClassForm = true" type="button"
                              class="btn btn-sm btn-link float-right">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                      </button>
                    </div>
                    <div class="list-group">
                      <li [hidden]="newSubject.classes?.length > 0 || newSurvey.showClassForm"
                         class="list-group-item list-group-item-danger">
                         <b>No hay comisiones creadas para esta materia.</b>
                      </li>
                      <div *ngFor="let class of newSubject.classes">
                        <li class="list-group-item justify-content-between">
                          {{class.name}}
                          <span>
                            <i (click)="editClass(class)"
                              class="btn btn-sm btn-link fa fa-pencil">
                              </i>
                            <i (click)="removeClass(class)"
                              class="btn btn-sm btn-link fa fa-trash-o">
                            </i>
                          </span>
                        </li>
                      </div>
                    </div>
                    <form [hidden]="!newSurvey.showClassForm">
                      <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" name="newClassName" class="form-control"
                          placeholder="Ingrese el nombre de la comision"
                          [(ngModel)]="newClass.name">
                      </div>

                      <div class="form-group">
                        <div class="form-group">
                          <label>Profesores</label>
                          <input type="text" name="newClassTeachers" class="form-control"
                          placeholder="Ingrese el nombre de los profesores"
                          [(ngModel)]="newClass.teachers">
                        </div>
                        <div class="form-group">
                          <label>Cupo</label>
                          <input type="number" name="newClassSize" class="form-control"
                          [(ngModel)]="newClass.size">
                        </div>
                        <label>Horarios</label>
                        <button type="button" class="btn btn-sm btn-link float-right"
                          (click)="newClass.showScheduleForm = true">
                          <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                        <div class="list-group">
                          <li [hidden]="newClass.schedules?.length > 0 || newClass.showScheduleForm"
                             class="list-group-item list-group-item-danger">
                             <b>No hay horarios especificados para esta comisión.</b>
                          </li>
                          <div *ngFor="let schedule of newClass.schedules">
                            <li class="list-group-item justify-content-between">
                              {{schedule}}
                              <span>
                                <i (click)="editSchedule(schedule)"
                                  class="btn btn-sm btn-link fa fa-pencil">
                                  </i>
                                <i (click)="removeSchedule(schedule)"
                                  class="btn btn-sm btn-link fa fa-trash-o">
                                </i>
                              </span>
                            </li>
                          </div>
                        </div>

                        <form [hidden]="!newClass.showScheduleForm">
                          <div class="form-group">
                            <label>Dia y horario</label>
                            <input type="text" name="schedule" class="form-control"
                              placeholder="Ej: Martes 20:00 a 22:00" [(ngModel)]="newSchedule">
                          </div>
                          <button type="submit" class="btn btn-sm btn-primary offset-md-4"
                            (click)="addSchedule()" [disabled]="!isNewScheduleValid()">
                            Guardar horario</button>
                        </form>
                      </div>
                      <button type="submit" class="btn btn-sm btn-primary offset-md-4"
                        [hidden]="newClass.showScheduleForm" (click)="addClass()" [disabled]="!isNewClassValid()">
                        Guardar comisión</button>
                    </form>
                    <hr />
                    <div [hidden]="newSurvey.showClassForm">
                      <div>
                        <label><b>Preguntas</b></label>
                        <div class="list-group">
                          <li [hidden]="newSubject.questions?.length > 0 || newSurvey.showClassForm"
                             class="list-group-item list-group-item-danger">
                             <b>No hay preguntas configuradas para esta materia.</b>
                          </li>
                          <div *ngFor="let question of newSubject.questions">
                            <li class="list-group-item justify-content-between">
                              {{question}}
                              <span>
                                <i (click)="editQuestion(question)"
                                  class="btn btn-sm btn-link fa fa-pencil">
                                  </i>
                                <i (click)="removeQuestion(question)"
                                  class="btn btn-sm btn-link fa fa-trash-o">
                                </i>
                              </span>
                            </li>
                          </div>
                          <br />
                             <div class="input-group">
                               <input type="text" class="form-control" placeholder="Ingrese nueva pregunta..."
                                [(ngModel)]="newQuestion" name="newQuestion">
                               <span class="input-group-btn" (click)="saveQuestion()">
                                 <button class="btn btn-info" type="submit" [hidden]="isEmptyQuestion()">
                                     <i class="fa fa-plus-circle" ></i>
                                 </button>
                               </span>
                             </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)='addSubject()'
                   [hidden]="newSurvey.showClassForm" [disabled]="!isNewSubjectValid()"  >
                  Guardar materia
                </button>

                <!-- Hack para cerrar el modal. A pesar de tener un data-dismiss el boton de guardar materia no cierra el modal.
                     Este boton esta oculto y se aprieta programaticamente en el metodo addSubject()-->
                <button class="btn btn-primary" [hidden]="true" #closeModalBtn name="button" data-dismiss="modal" type="submit"></button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr />
        <button type="button" class="btn btn-primary offset-md-4" (click)="submitSurvey()"
          [disabled]="!isValid()">Crear encuesta</button>

    </form>

  </div>

</div>
