<app-menu></app-menu>

<div class="alert alert-danger" role="alert" [hidden]="dashboardData">
  <b class="text-justify">No hay ninguna encuesta activa.
    <a routerLink="/new-survey" routerLinkActive="active" class="btn btn-success">Crear una encuesta</a> </b>
</div>

<div class="container-fluid" [hidden]="!dashboardData">
  <div class="row justify-content-between">
    <div class="text-center col-9">
      <h1>{{dashboardData?.title}}</h1>
    </div>
  </div>

  <div class="row">

    <div class="col-8">
      <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
    </div>


    <div style="display: block" class="col-4 text-center" *ngIf="canDrawChart()">
      <span><b>{{completionPercentage | number : '1.0-0'}}% de encuestas completadas</b></span>
      <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType">
      </canvas>
    </div>

<!--    <div > <h2>Encuestas </h2>
      <tbody>

      <tr *ngFor="let survey of surveys">
        <td>{{survey.period}}</td>
        <td><a class="btn-link" routerLink="/survey">Ver detalle</a></td>
      </tr>

    </div>-->

  </div>

</div>
